<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
</head>
<body >
    <h1>Bienvenido a mi primer MTV by Lucas Badino </h1>
    <h3>Holaaaaaa Tomas, me han hecho laburar un fin de semana entero con esta entrega, teneme piedad jajaja  xd:)</h3>
    <h1>El funcionamiento del programa es el siguiente:
        para crear los datos de las personas en la familia necesitas ingresas a la parte de <a href="http://127.0.0.1:8000/persona/">"CREACION"</a>  de esa forma estarias creando las tres personas en la base de datos
        luego para visualisar los 3 ya creados ingresa a <a href="http://127.0.0.1:8000/familia/">"VISTA"</a> 
        A TENER EN CUENTA !!! CADA INGRESO EN LA CREACION DE LAS PERSONAS ES UN NUEVO REGISTRO DE 3 PERSONAS MAS 
    </h1>
    
</body>
</html>